body{
    background-color: #CCDBDA;
}

h1{
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: white;
    border-style: solid;
    border-color: white;
    align-self: center;
    border-radius: 5px;
}

img{
    height:200px;
    width:335px;

}
section{
    font-family: Montserrat, sans-serif;
    display: inline-block;
    border-style: solid;
    border-color: white;
    align-self: center;
    text-align:center;
    margin:10px;
}
main{
    text-align: center;
}
button{
    width:100%;
    height:40px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    background:#CCDBDA;
    color:white;

}
#weekendcar, #supercar, #offroadcar,
#familycar,#truck, #dailydriver{
    background-color:white;
    border-radius:5px;
}
img{
    border-radius: 5px;
    margin:1px;
}
header,footer,p{
    border-color: #CCDBDA;
    border-style: solid;
    border-radius: 5px;
    margin:1px;
}
.YTLink{
    background-color:white;
    border-radius:5px;
}
span{
    background-color:white;
    border-radius:5px;
    font-family: Montserrat, sans-serif;
    display: inline-block;
    border-style: solid;
    border-color: white;
    align-self: center;
    text-align:center;
    margin:10px;
}
.carly{
    height:360px;
    width:600px;
}
.text{
    border-radius: 5px;
    margin:1px;
    width: 700px;
    height:130px;
}
.logo{
    border-radius: 5px;
    margin:1px;
    width:250px;
    height: 150px;
}

#lxi{
    align-self: center;
}
#m{
  width:400px;
  height:400px;
}
#bm{
  width:200px;
  height:200px;
}
#ramlogo{
  width: 700px;
  height:300px;
}
#previous{
  display:inline-block;
  width:50%;
  height:40px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  background:#CCDBDA;
  color:white;

}
#next{
  display:inline-block;
  width:50%;
  height:40px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  background:#CCDBDA;
  color:white;
}
